.course-target {
  background-color: #242424;
  color: #fff;
  padding: 86px 20px 67px 20px;

  @media (min-width: 769px) {
    padding-top: 106px;
    padding-left: 10%;
    padding-right: 10%;
  }

  @media (min-width: 1025px) {
    padding-left: 20%;
    padding-right: 20%;
  }

  > button {
    margin: auto;
    display: table;
  }
}

.target-item {
  margin-bottom: 50px;
  width: 100%;

  @media (min-width: 769px) {
    display: flex;
  }
}

.target-item__icon {
  margin: 0 auto 10px;
  min-width: 105px;
  width: 105px;
  max-height: 105px;

  @media (min-width: 769px) {
    margin-left: 0;
    margin-right: 25px;
    margin-bottom: 0;
  }
}

.target-item__text__title {
  font-size: 30px;
  margin-bottom: 16px;

  @media (min-width: 769px) {
    margin-bottom: 30px;
  }
}

.stages {
  margin-top: 30px;
}
