/**************************
  COLORS
**************************/
$button_orange: #F7961D;
$button_orange_hover: #F76B1D;
$button_orange_active: #FE3C12;

/**************************
  SIZES
**************************/
$size_default: 20px;
$size_default_sm: 16px;
$size_title: 35px;
$size_title_sm: 20px;

/**************************
  FONTS
**************************/
$roboto_regular: "Roboto-Regular", Arial, sans-serif;
