.icon {
  width: 37px;
  height: 37px;
  display: inline-block;

  &:before {
    font-size: 37px;
  }
}

.icon-call,
.icon-location {
  margin-right: 11px;
}

.icon-checked {
  width: 26px;
  height: 26px;

  &:before {
    width: 26px;
    height: 26px;
    font-size: 26px
  }
}

.icon-close {
  width: 20px;
  height: 20px;

  &:before {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #fff;
  }
}
